In [2]:
import pandas as pd
import numpy as np

In [63]:
df = pd.DataFrame({
    "id":[1,2,3,4],
    "name":["A", "B", "C", "D"],
    "salary":[70000, 100000, 60000, 90000],
    "managerId":[3, 4, None, None]
})

In [64]:
df

   id name  salary  managerId
0   1    A   70000        3.0
1   2    B  100000        4.0
2   3    C   60000        NaN
3   4    D   90000        NaN

In [65]:
# df["managerSalary"] = np.inf
# df["bool"] = False

In [66]:
for index, rows in df.iterrows():
    if rows["managerId"] > 0:
        managerId = int(rows["managerId"])
        managerSalary = df.iloc[managerId-1]["salary"]
        df.at[index, "managerSalary"] = managerSalary
        if managerSalary < rows["salary"]:
            df.at[index, "bool"] = True
        else:
            df.at[index, "bool"] = False
    else:
        df.at[index, "managerSalary"] = None
        df.at[index, "bool"] = False
df

C:\Users\devik\AppData\Local\Temp\ipykernel_22760\2658900029.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'True' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, "bool"] = True

   id name  salary  managerId  managerSalary   bool
0   1    A   70000        3.0        60000.0   True
1   2    B  100000        4.0        90000.0   True
2   3    C   60000        NaN            NaN  False
3   4    D   90000        NaN            NaN  False

In [67]:
df.loc[df["bool"] == True, ["name"]].rename(columns={"name": "employee"})

  employee
0        A
1        B

In [72]:
df = pd.DataFrame({
    "id":[1,3,2],
    "name":["A", "B", "C"],
    "salary":[40000, 30000, 20000],
    "managerId":[3, 2, None]
})
df

   id name  salary  managerId
0   1    A   40000        3.0
1   3    B   30000        2.0
2   2    C   20000        NaN

In [83]:
for index, rows in df.iterrows():
    if rows["managerId"] > 0:
        managerId = int(rows["managerId"])
        print(managerId)

        managerSalary = df.loc[df["id"] == managerId, "salary"].iloc[0]
        print(managerSalary)
        
        df.at[index, "managerSalary"] = managerSalary

        if managerSalary < rows["salary"]:
            df.at[index, "bool"] = True
        else:
            df.at[index, "bool"] = False
    else:
        df.at[index, "managerSalary"] = None
        df.at[index, "bool"] = False

3
30000
2
20000

In [81]:
df.loc[df["bool"] == True, ["name"]].rename(columns={"name": "employee"})

  employee
0        A
1        B

In [ ]:
# my solution
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    if employee.empty:
        return pd.DataFrame({"Employee": []})

    employee["bool"] = False
    employee["managerSalary"] = None

    for index, rows in employee.iterrows():
        if rows["managerId"] is not pd.NA:
            managerId = int(rows["managerId"])
            managerSalary = employee.loc[employee["id"] == managerId, "salary"]
            
            if not managerSalary.empty:
                managerSalary = managerSalary.iloc[0]
                employee.at[index, "managerSalary"] = int(managerSalary)
                
                if managerSalary < rows["salary"]:
                    employee.at[index, "bool"] = True

    return employee.loc[employee["bool"] == True, ["name"]].rename(columns= {"name":"Employee"})

In [88]:
df = pd.DataFrame({
    "id":[1,3,2],
    "name":["A", "B", "C"],
    "salary":[40000, 30000, 20000],
    "managerId":[3, 2, None]
})
print(df)
df_merge = df.merge(right=df,how='left', left_on='managerId', right_on = "id")
print(df_merge)

   id name  salary  managerId
0   1    A   40000        3.0
1   3    B   30000        2.0
2   2    C   20000        NaN
   id_x name_x  salary_x  managerId_x  id_y name_y  salary_y  managerId_y
0     1      A     40000          3.0   3.0      B   30000.0          2.0
1     3      B     30000          2.0   2.0      C   20000.0          NaN
2     2      C     20000          NaN   NaN    NaN       NaN          NaN

In [91]:
answer = df_merge[df_merge["salary_x"] > df_merge["salary_y"]]["name_x"]

In [92]:
type(answer)

pandas.core.series.Series

In [93]:
pd.DataFrame({'Employee':answer})

  Employee
0        A
1        B